ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li a.active {
    background-color: #4CAF50;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li {
    float: left;
}

.filter-table {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    float: left;
    border: 1px solid darkgray;
    margin: 10px;
    padding: 3px;
}

.filter-option {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #999;
}

.filter-label {
    font-weight: bold;
}

.button-wrapper {
    margin: 10px 10px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.units-table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    border: 1px solid darkgray;
    margin: 10px;
    padding: 3px;
}

.units-table thead  {
    background-color: darkgray;
}

.units-table tr:nth-child(even)  {
    background-color: #f2f2f2;
}

.units-table th, td {
    padding: 5px 10px;
  }

